@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

body {
  font-family: 'Handlee', cursive;
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  position: relative; 
}

.header {
  display: flex;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  margin: 0 auto;
}

.game {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 24px;
  padding: 24px;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: #2d2d2d;
  gap: 5px;
  
}

.board {
  display: grid;
  width: 600px;
  height: 600px;
  padding: 0;
  margin: 0 auto;
  border: 1px solid black;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

div[class^=cell] {
  width: 196px;
  height: 196px;
  line-height: 222px;
  padding: 0;
  border: 2px solid black;
  font-size: 150px;
  font-weight: 900;
  text-align: center;
}

.hubLogo {
  height: 50px;
  width: auto;
  margin-bottom: 2px;
  background-color: white;
  border-radius: 50%;
}

#wins {
  text-align: center;
  font-size: 24px;
  font-weight: 900;
}